html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #fff;
    color: rgb(7, 1, 22);
    font: 12pt normal arial;
    padding-top: -10px;
    padding-bottom: 50px;
}

.contacto {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.info-contacto {
    max-width: 400px;
}

.redes-sociais {
    text-align: center;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.redes-sociais a img {
    width: 50px;
    transition: transform 0.3s ease;
}

.redes-sociais a img:hover {
    transform: scale(1.2);
}

.redes-sociais a {
    font-size: 30px;
    margin-right: 15px;
    color: rgb(7, 1, 22);
    transition: 0.3s;
}

.redes-sociais a:hover {
    color: yellow;
    transform: scale(1.2);
}

.formulario {
    max-width: 500px;
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario input,
.formulario button {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.formulario button {
    background-color: rgb(7, 1, 22);
    color: yellow;
    cursor: pointer;
    transition: 0.3s;
}

.formulario button:hover {
    background-color: #0984e3;
}

.formulario select {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.rodape {
    padding-bottom: 0;
    width: 100%;
    background-color: rgba(7, 1, 22, 0.998);
    color: #fff;
    text-align: center;
    padding: 1px 0;
    z-index: 1000;
    margin-top: auto;
}