html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #fff;
    color: rgb(7, 1, 22);
    font: 12pt normal arial;
    padding-top: -10px;
    padding-bottom: 50px;
    flex: 1;
}

.navegacao {
    background-color: rgba(7, 1, 22, 0.998);
    margin: -2pt;
}

.navegacao a {
    background-color: rgba(7, 1, 22, 0.998);
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    gap: 30px;
}

li a:hover {
    color: #ffff00;
    transition: transform 0.3s;
    transform: scale(1.2);
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 20px;
    border: #000 20px;
}

.imagem img {
    max-width: 900px;
    height: 350px;
}

.part2 {
    background-color: rgba(7, 1, 22, 0.998);
    padding: 30px;
    font-family: arial, sans-serif;
    color: #fff;
    max-width: 600px;
    height: 290px;
}

.part2 h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #ffff00;
}

.part2 p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 10px;
    color: #fff;
}

.part2 b {
    color: #fff;
}

.conteudo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 20px;
    border: #000 20px;
    border-radius: 100px;
}

.blc1,
.blc2 {
    background-color: rgba(183, 181, 181, 0.377);
    padding: 30px;
    font-family: arial, sans-serif;
    color: rgba(7, 1, 22, 0.998);
    max-width: 420px;
    height: 290px;
}

.blc1 h2,
.blc2 h2 {
    color: rgba(7, 1, 22, 0.998);
}

.rodape {
    padding-bottom: 0;
    width: 100%;
    background-color: rgba(7, 1, 22, 0.998);
    color: #fff;
    text-align: center;
    padding: 1px 0;
    z-index: 1000;
    margin-top: auto;
}

.conteudo button {
    background-color: #ffff00;
    color: rgba(7, 1, 22, 0.998);
    padding: 10px;
    border-radius: 8px;
}