html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #f7f7f7;
    color: rgb(7, 1, 22);
    font-family: arial, sans-serif;
    margin: 0;
    font: 12pt normal arial;
    padding-top: -10px;
    padding-bottom: 50px;
    flex: 1;
}

.topo {
    text-align: center;
    padding: 40px 20px;
    color: #111;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    gap: 20px;
}

.projeto {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}

.projeto img {
    width: 100%;
    border-radius: 5px;
}

.projeto:hover {
    transform: scale(1.3);
}

.projeto h3 {
    margin-top: 15px;
    color: rgb(7, 1, 22);
}

.projeto p {
    color: rgb(7, 1, 22);
}

.servico button {
    background-color: rgb(7, 1, 22);
    padding: 10px;
    border-radius: 8px solid #0000;
}

.whatsapp-solicitacao {
    text-align: center;
    margin: 30px 0;
}

.whatsapp-solicitacao p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.whatsapp-solicitacao a img {
    width: 50px;
    transition: transform o, 3s ease;
}

.whatsapp-solicitacao a img:hover {
    transform: scale(1.2);
}

.rodape {
    padding-d bottom: 0;
    width: 100%;
    background-color: rgba(7, 1, 22, 0.998);
    color: #fff;
    text-align: center;
    padding: 1px 0;
    z-index: 1000;
    margin-top: auto;
}