html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #fff;
    color: rgb(7, 1, 22);
    font: 12pt normal arial;
    padding-top: -10px;
    padding-bottom: 50px;
    flex: 1;
}

.sobre-nos {
    display: flex;
    padding: 50px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.img-sobre img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.texto-sobre {
    max-width: 600px;
    text-align: center;
    background-color: rgb(7, 1, 22);
    color: #fff;
}

h1,
h2 {
    color: #ffff00;
}

.rodape {
    padding-d bottom: 0;
    width: 100%;
    background-color: rgba(7, 1, 22, 0.998);
    color: #fff;
    text-align: center;
    padding: 1px 0;
    z-index: 1000;
    margin-top: auto;
}